<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="ui one column grid" style="background-color: white; width: 70%; margin: auto auto 6em auto; padding: 3em 5em; border-radius: 0.5em;" ng-app="envioModule" ng-controller="enviosController">

    <div class="row">
        <div class="column">
            <div class="inline field">
                <h1 class="ui dividing header" style="font-weight: 300; color: gray;"> <i ui-sref="envios" class="ion-chevron-left"></i> &nbsp; Detalles envio</h1>
            </div>
            <hr/>
        </div>
    </div>

    
    
     
        <table class="ui very basic table">
            
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            
            <tbody>
                
              <tr>
                <td>
                    <div class="inline field" style="overflow-y: hidden;">
                        <div class="ui horizontal large label">ID</div> 
                    </div>
                </td>
                <td>
                    {{id_envio}}
                </td>
                <td>
                    
                </td>
              </tr>
              <tr>
                <td>
                    <div class="inline field" style="overflow-y: hidden;">
                        <div class="ui horizontal large label">Direccion</div>
                    </div>
                </td>
                <td>
                    <input ng-model="new_alimentos" placeholder="{{envio.direccion}}">
                </td>
                <td>
                    
                </td>
              </tr>
              <tr>
                <td>
                    <div class="inline field" style="overflow-y: hidden;">
                        <div class="ui horizontal large label">Duracion</div>
                    </div>
                </td>
                <td>
                    <input ng-model="new_cantidad" placeholder="{{envio.duracion}}"> 
                </td>
                <td>
                    
                </td>
              </tr>
              
              <tr>
                  <td>
                      <div class="inline field" style="overflow-y: hidden;">
                          <div class="ui horizontal large label">Recibido</div>
                      </div>
                  </td>
                <td>
                    <input ng-model="new_capacidad" placeholder="{{envio.recibido}}"> 
                </td>
                <td>
                    
                </td>
              </tr>
              
              <tr>
                  <td>
                     

                <td>
                    
                </td>
              </tr>
              
         
              
            </tbody>
         
        </table>
         
     
    
    

    <div class="row">
        <div>&nbsp;</div>
        <div class="inline field">
            <a href="" ng-click="actualizar_envio()" class="ui positive basic button">
                Actualizar
            </a>
        </div>
    </div>





</div>
