



<div class="ui one column grid" style="background-color: white; width: 70%; margin: auto auto 6em auto; padding: 3em 5em; border-radius: 0.5em;">

    <div class="row">
        <div class="column">
            <div class="inline field">
                <h1 style="font-weight: 300; color: gray; float: left;">Envios</h1>
                <a href="src/modules/envios/envio_add.html" style="text-decoration: none; color: #525252;"><i style="float: right; font-size: 30pt;" class="ion-plus-round"></i></a>
            </div>

            <hr/>

        </div>
    </div>

    <div class="ui one stackable link cards">
        <div class="ui fluid card" ng-repeat="envio in dia.envios| orderBy : 'id'">         
            <div class="content">
                <div class="header">{{envio.id}}</div>
                <div class="meta"><a>Direccion: {{envio.direccion}}</a></div>
                <div class="description">Duracion {{envio.duracion}} <br/> Recibido {{envio.recibido}}</div>
            </div>
            <div class="extra content">
                <div class="inline flief">
                    <span class="field right floated"><a ng-click="eliminar_envio(envio.id)" style="text-decoration: none;">Eliminar</a></span>
                     <span class="field right floated"><a ui-sref="envio_detail({ id: envio.id })">Actualizar</a> &nbsp; &nbsp;</span>
                </div>
            </div>
        </div>
    </div>


</div>