<div class="ui container" style="width: 100%" ng-app="dietaModule" ng-controller="dietasController">

    <div class="ui raised segment" style="background-color: white; width: 70%; margin: auto auto 6em auto; padding: 3em 5em; border-radius: 0.5em;">

        <div class="inline field">
            <h1 style="font-weight: 300; color: gray; float: left;">Dietas</h1>
            <!--href="src/modules/dietas/dieta_add.html"-->
            <a ng-if="admin" ui-sref="post_dieta" style="text-decoration: none; color: #525252; overflow: hidden;">
                <i style="float: right; font-size: 30pt; overflow: hidden;" class="ion-plus-round"></i>
            </a>
            <a ng-if="user" ng-click="agregando = true" ui-sref="add_dieta" style="text-decoration: none; color: #525252; overflow: hidden;">
                <i style="float: right; font-size: 30pt; overflow: hidden;" class="ion-plus-round"></i>
            </a>
        </div>
        <hr/>
        <br/>
        <br/>
        
        

        <div class="ui two stackable cards" ng-controller="dietasController">
            
            <div ng-if="persona.dietas.length < 1 && definitivamente_no_tiene_dietas">
                <div>
                    <h1 style="color: dimgray; font-family: 'Roboto'; font-weight: 300;">No te encuentras suscripto a ningún plan de dieta. <br/> ¿Qué estas esperando? </h1>
                    <div class="row">
                        <div>&nbsp;</div>
                        <div class="inline field">

                            <a ui-sref='add_dieta' class="large ui positive basic button">
                                Empieza ahora
                            </a>

                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="user"  class="ui raised link fluid card" ng-repeat="dieta in persona.dietas| orderBy : '-id'">
                <div class="fluid image">
                    <img id="im_dieta" src="{{dieta.imagen}}">
                </div>
                <div class="content">
                    <div class="header">{{dieta.name}}</div>
                    <div class="meta"><a>Activa</a></div>
                    <div class="inline field"><a style="text-decoration: none;"><i ng-repeat="s in []| range:dieta.stars" class="ion-android-star">&nbsp;</i></a></div>
                    <div class="description">{{dieta.descripcion}}</div>
                    <div class="description">{{dieta.objetivo}}</div>
                </div>
                <div class="extra content">
                    <div class="inline field">
                        <span class="field left floated">
                            <a ui-sref="dieta_specs.dieta_specs_id({ id: dieta.id })" style="text-decoration: none; color: dimgray;">
                                <i class="ion-more" style="font-size: 20px;"></i>
                            </a>
                        </span>
                        <!--  <span ng-if="user" class="field right floated">Pausar</span> -->
                        <!-- ng-click="cancelar_dieta(dieta.id)" -->
                        <span ng-if="user" class="field right floated"><a style="text-decoration: none;">Cancelar Suscripción</a>&nbsp; &nbsp;</span>
                        <span ng-if="admin" class="field right floated" ng-click="eliminar_dieta(dieta.id)"><a style="text-decoration: none;">Eliminar</a>&nbsp; &nbsp;</span>
                    </div>
                </div>

            </div>
            
            <div ng-if="user"  class="ui raised link fluid card">
                <div class="fluid image">
                    <img id="im_dieta" src="{{cuenta_personal.dieta.imagen}}">
                </div>
                <div class="content">
                    <div class="header">{{cuenta_personal.dieta.name}}</div>
                    <div class="meta"><a>Activa</a></div>
                    <div class="inline field"><a style="text-decoration: none;"><i ng-repeat="s in []| range:cuenta_personal.dieta.stars" class="ion-android-star">&nbsp;</i></a></div>
                    <div class="description">{{cuenta_personal.dieta.descripcion}}</div>
                    <div class="description">{{cuenta_personal.dieta.objetivo}}</div>
                </div>
                <div class="extra content">
                    <div class="inline field">
                        <span class="field left floated">
                            <a ui-sref="dieta_specs.dieta_specs_id({ id: cuenta_personal.dieta.id })" style="text-decoration: none; color: dimgray;">
                                <i class="ion-more" style="font-size: 20px;"></i>
                            </a>
                        </span>
                        <span ng-if="user" ng-click="cancelar_subs(dieta.id)" class="field right floated"><a style="text-decoration: none;">Cancelar Suscripción</a>&nbsp; &nbsp;</span>
                        <span ng-if="admin" class="field right floated" ng-click="eliminar_dieta(dieta.id)"><a style="text-decoration: none;">Eliminar</a>&nbsp; &nbsp;</span>
                    </div>
                </div>

            </div>

            <div ng-if="admin"  class="ui raised link fluid card" ng-repeat="dieta in dietas| orderBy : '-id'">
                <div class="fluid image">
                    <img id="im_dieta" src="{{dieta.imagen}}">
                </div>
                <div class="content">
                    <div class="header">{{dieta.name}}</div>
                    <div class="meta"><a>Activa</a></div>
                    <div class="inline field"><a style="text-decoration: none;"><i ng-repeat="s in []| range:dieta.stars" class="ion-android-star">&nbsp;</i></a></div>
                    <div class="description">{{dieta.descripcion}}</div>
                    <div class="description">{{dieta.objetivo}}</div>
                </div>
                <div class="extra content">
                    <div class="inline field">
                        <span class="field left floated">
                            <a ui-sref="dieta_specs.dieta_specs_id({ id: dieta.id })" style="text-decoration: none; color: dimgray;">
                                <i class="ion-more" style="font-size: 20px;"></i>
                            </a>
                        </span>
                        <span ng-if="admin" class="field right floated" ng-click="eliminar_dieta(dieta.id)"><a style="text-decoration: none;">Eliminar</a>&nbsp; &nbsp;</span>
                    </div>
                </div>

            </div>
            
            
            
        </div>

    </div>
</div>


