/*------------------------*/
/* GENERAL */
/*------------------------*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 20px;
}

html {
	color: #555;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.parallax {
	-webkit-transition: initial;
	transition: initial;
}








/*------------------------*/
/* HEADER */
/*------------------------*/

header {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.60)), to(rgba(0, 0, 0, 0.40))), url(resources/hero.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.30)), url(resources/hero.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 110vh;
}


/* NAVIGATION MENU */

.menu {
	position: absolute;
	right: 1em;
	top: 1.5em;
	list-style-type: none;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.menu > li {
	float: right;
	display: inline-block;
	padding: 0 1em;
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.menu > li > a:link,
.menu > li > a:visited {
	text-decoration: none;
	color: whitesmoke;
	padding: 0.2em 0;
	border-top: 2px solid rgba(0, 0, 0, 0);
	-webkit-transition: border-top 0.2s;
	transition: border-top 0.2s;
}

.menu > li > a:hover,
.menu > li > a:active {
	border-top: 2px solid #e67e22;
}

/* MOBILE VERSION MENU */

.menu_dinamic {
	display: none;
}



.logo {
	width: 10em;
	margin: 1em 2em;
}

/* STIKY MENU */

.stick {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.60);
	height: 60px;
	z-index: 9999;
}

.stick > .menu {
	top: 1em;
}

.stick > .menu > li > a:link,
.stick > .menu > li > a:visited {
	text-decoration: none;
	color: whitesmoke;
}

.logo_b {
	display: none;
}

.stick > .logo_b {
	display: inline-block;
	width: 3em;
	margin: 2px 1em 2px 10em;
	position: absolute;
}

.stick > .logo {
	display: none;
}


h1.slogan {
	margin: 0;
	color: whitesmoke;
	font-size: 200%;
	text-transform: lowercase;
	letter-spacing: 1px;
	word-spacing: 4px;
	margin-bottom: 0.5em;
	font-family: 'Roboto';
	font-weight: 100;
}


.c1_text_box {
	position: absolute;
	left: 175px;
	bottom: 40%;
}


/* HEADER BTNS */

.c1_text_box > .btn:link,
.c1_text_box > .btn:visited {
	text-decoration: none;
	font-size: 16px;
	display: inline-block;
	padding: 0.3em 0.9em;
	font-weight: 400;
	-webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn_main:link,
.btn_main:visited,
.btn_sec:link,
.btn_sec:visited {
	border: 1px solid #e67e22;
	border-radius: 10em;
	color: #ed862a;
	margin-right: 0.7em;
}

.btn_main:hover,
.btn_sec:hover {
	border: 1px solid #e67e22;
	background-color: #e67e22;
	border-radius: 10em;
	color: whitesmoke;
}


/*END HEADER*/










/*------------------------*/
/* SECTIONS */
/*------------------------*/

h2.sub {
	text-transform: uppercase;
	line-height: 2em;
	word-spacing: 2px;
	text-align: center;
	font-weight: 100;
	font-size: 175%;
	letter-spacing: 1px;
	font-family: 'Roboto';
}

h2:after {
	display: block;
	height: 2px;
	background-color: #e67e22;
	content: " ";
	width: 3em;
	margin: 0 auto;
	margin-bottom: 0.6em;
}

h3 {
	font-size: 110%;
	margin-bottom: 0.4em;
	letter-spacing: 0;
	font-weight: 100;
}

/*INTEGRANTES*/

#integrantes,
#como_funciona {
	padding: 7em 7em 0 7em;
}

p.integrantes {
	font-size: 90%;
	line-height: 145%;
	text-align: center;
	width: 80%;
}

p.info {
	font-size: 55%;
	line-height: 145%;
	text-align: center;
}

div.name,
div.info {
	text-align: center;
}

#cards_integrantes {
	padding-top: 3em;
}

/*END INTEGRANTES*/










/*------------------------*/
/* SECTION C3 */
/*------------------------*/

.c3 {
	display: grid;
	grid-template-columns: repeat( 4, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "ce_1 ce_2 ce_3 ce_4" "ce_5 ce_6 ce_7 ce_8";
	grid-gap: 0;
	width: 100%;
	overflow: hidden;
	margin-top: 4em;
}

.c3 > .ce > img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	-webkit-transform: scale(1.40);
	transform: scale(1.40);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
	overflow: hidden;
	opacity: 0.7;
}

.c3 > .ce {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: black;
	-webkit-transition: display 0.5s;
	transition: display 0.5s;
}

.c3 > .ce > img:hover {
	-webkit-transform: scale(1.30);
	transform: scale(1.30);
	overflow: hidden;
	opacity: 1;
}

/* END SECTION 3*/
















/* COMO FUNCIONA*/

#funciona_im {
	border-radius: 0.5em;
}

#pasos {
	padding-left: 2em;
}

i.pasos_icon {
	font-size: 200%;
	color: #e67e22;
}

/* END COMO FUNCIONA */










/*TESTIMONIO*/

div.tetimonio {
	background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.60)), to(rgba(0, 0, 0, 0.60))), url(resources/back.jpg);
	background-image: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(resources/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: whitesmoke;
}

img.testimonio_image {
	height: 160px;
	widows: 160px;
	border-radius: 0.5em;
}

blockquote {
	font-style: italic;
	line-height: 145%;
	position: relative;
}

cite {
	font-size: 80%;
	margin-top: 1em;
	display: block;
	margin-left: 1em;
}

p.testimonio_nombre {
	font-size: 100%;
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 500%;
	position: absolute;
	top: -20px;
	left: 30px;
}






















/*------------------------*/
/* SECTION C8 */
/*------------------------*/

.c8 {
	margin: 0;
}

.nuevo {
	position: relative;
	width: 100%;
}

.c8_form {
	border-radius: 10px;
	position: absolute;
	right: 50px;
	top: 50px;
	background-color: rgba(255, 255, 255, 0.93);
	font-size: 140%;
	line-height: 40px;
	z-index: 2;
	padding: 1em;
	color: dimgray;
	text-align: left;
}


input,
select,
textarea {
	border-radius: 3px;
	border: 1px solid #ccc;
}




/*------------------------*/
/* SECTION MAP */
/*------------------------*/

.map {
	width: 100%;
	height: 600px;
	z-index: 1;
}














/*------------------------*/
/* SECTION FOOTER */
/*------------------------*/

footer {
	background-color: rgb(42, 42, 42);
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://images.pexels.com/photos/175767/pexels-photo-175767.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: whitesmoke;
	overflow:hidden;
}

p.fp {
	color: white;
	font-size: 90%;
}










/* ANIMATIONS */

.anim_sec_2 {
	opacity: 0;
}

/*bith classes at the same time*/

.anim_sec_2.animated {
	opacity: 1;
}


.anim_prem.animated {
	opacity: 1;
}

.anim_prem {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

















/* LOGIN */

/* The Modal (background) */

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.7);
	/* Black w/ opacity */
	padding-top: 60px;
	text-align: center;
}

/* Modal Content/Box */

.modal-content {
	background-color: #fefefe;
	margin: 7em auto;
	/* 15% from the top and centered */
	border: 1px solid #888;
	width: 30em;
	/* Could be more or less, depending on screen size */
	padding: 1em;
	border-radius: 0.5em;
	text-align: center;
}

.avatar {
	height: 10em;
	border-radius: 50%;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "email input_email" "password input_password" "sp sp" "login cancel";
	grid-gap: 1em;
	margin: 1em 3em 0em 3em;

}

.email {
	grid-area: email;
	text-align: left;
}

.input_email {
	grid-area: input_email;
	text-align: left;
}

.password {
	grid-area: password;
	text-align: left;
}

.input_psw {
	grid-area: input_password;
}

.space {
	grid-area: sp;
}

.input_login {
	grid-area: login;
	text-align: right;

}

.input_cancel {
	grid-area: cancel;
	text-align: left;
}



/* The Close Button */

.close {
	/* Position it in the top right corner outside of the modal */
	position: relative;
	color: #000;
	font-size: 35px;
	font-weight: bold;
	right: -8em;
	top: -3.5em;
}

/* Close button on hover */

.close:hover,
.close:focus {
	color: darkgray;
	cursor: pointer;
}

.icon_user {
	font-size: 800%;
	color: lightgray
}


/* Add Zoom Animation */

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}

@keyframes animatezoom {
	from {
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
