<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="ui one column grid" style="background-color: white; width: 70%; margin: auto auto 6em auto; padding: 3em 5em; border-radius: 0.5em;">

    <div class="row">
        <div class="column">
            <div class="inline field">
                <h1 style="font-weight: 300; color: gray; float: left;">Comidas</h1>
                <a href="src/modules/comidas/comida_add.html" style="text-decoration: none; color: #525252;"><i style="float: right; font-size: 30pt;" class="ion-plus-round"></i></a>
            </div>

            <hr/>

        </div>
    </div>

    <div class="ui two stackable link cards">
        <div class="ui fluid card" ng-repeat="comida in comidas | orderBy : 'id'">
            <div class="image">
               <!-- <img src="{{comida.image}}">-->
            </div>
            <div class="content">
                <div class="header">ID:{{comida.id}}</div>
                <div class="meta"><a>Alimentos: {{comida.alimentos}}</a></div>
                <div class="description">Cantidad: {{comida.cantidad}} <br/> Tipo de comida: {{comida.TIPO}}</div>
            </div>
            <div class="extra content">
                <div class="inline flief">
                    <span class="field right floated"><a ng-click="eliminar_comida(comida.id)" style="text-decoration: none;">Eliminar</a></span>
                    <span class="field right floated"><a ui-sref="comida_detail({ id: comida.id })">Actualizar</a> &nbsp; &nbsp;</span>
                </div>
            </div>
        </div>
    </div>


</div>