
<div class="row">
    <div class="column">
        <div class="inline field">
            <h1 style="font-weight: 300; color: gray; float: left; margin-top: 20px;">Tu dieta incluye lo siguiente</h1>
            <a ng-if="admin" href="src/modules/comidas/comida_add.html" style="text-decoration: none; color: #525252;"><i style="float: right; font-size: 30pt;" class="ion-plus-round"></i></a>
        </div>

        <hr/>

    </div>
</div>


<div style="overflow: scroll;">
<div style="padding: 0em 3em 1em 3em;">
    <div class="ui one stackable link cards" style="margin-top: 10px;">
        <div class="ui fluid card" ng-repeat="comida in dia.comidas| orderBy:'id'">
            <div class="content">                
                <div><h1 style="font-family: 'Roboto'; font-size: 18px; color: dimgray; font-weight: 300;">Alimentos: {{comida.alimentos}}</h1></div>
                <div ng-if="admin" class="meta">Identificador: {{comida.id}}</div>
                <div class="description">Cantidad: {{comida.cantidad| number:1}} gramos</div>
            </div>
            <div ng-if="admin" class="extra content">
                <div class="inline flief">
                    <span class="field right floated"><a ng-click="eliminar_comida(comida.id)" style="text-decoration: none;">Eliminar</a></span>
                    <span class="field right floated"><a ui-sref="comida_act({ id: comida.id })">Actualizar</a> &nbsp; &nbsp;</span>
                </div>

            </div>
        </div>
    </div>
    </div>