<div ng-app="calificacionModule" ng-controller="calificacionController">
    <div class="ui container" style="margin-top: 40px;">

        <div class="ui form">

            <div class="field">
                <input ng-model="puntuacion" placeholder="CALIFIFCACION DE 1 A 10">
            </div>


        </div>

    </div>


    <div class="row">
        <div>&nbsp;</div>
        <div class="inline field">

            <a ui-sref='dieta_specs.calificaciones({ id_dieta: dieta })' class="ui orange basic button">
                Cancelar
            </a>

            <a ng-click='calificacion_post()' class="ui positive basic button" style="float: right; margin: 0em 10px;">
                Agregar Calificacion
            </a>

        </div>
    </div>
</div>