<div class="ui container" style="width: 100%" ng-app="personaModule">

    <div class="ui raised segment" style="background-color: white; width: 70%; margin: auto auto 6em auto; padding: 3em 5em; border-radius: 0.5em;" ng-controller="personasController">

        <div class="inline field">
            <h1 style="font-weight: 300; color: gray; float: left;">Usuarios</h1>
            <a ui-sref="post_persona" style="text-decoration: none; color: #525252; overflow: hidden;">
                <i style="float: right; font-size: 30pt; overflow: hidden;" class="ion-plus-round"></i>
            </a>
        </div>
        <hr/>
        <br/>
        <br/>


        <table class="ui very basic table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apelldio</th>
                    <th>Edad</th>
                    <th>Correo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="persona in personas">
                    <td>{{ persona.nombre}}</td>
                    <td>{{ persona.apellido}}</td>
                    <td>{{ persona.edad}}</td>
                    <td>{{ persona.correo}}</td>
                    <td><p style="color: gray" ui-sref="detailPersona({ id: persona.id })">detalles</p></td>
                    <td><a class="item active" style="color: gray" ui-sref="envios">envíos</a></td>
                    <td><p style="color: gray" ng-click="eliminar_persona(persona.id)">eliminar</p></td>
                </tr>

            </tbody>
        </table>


    </div>

</div>




