<style>
    * {
        font-family: 'Roboto';
        overflow: hidden;
    }

    #head {
        background-color: white;
        background-image: url('https://images.pexels.com/photos/139259/pexels-photo-139259.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 120vh;
    }

    hr {
        float: left;
        display: block;
        height: 2px;
        border: 1px solid dimgray;
        width: 14em;
        color: white;
    }

    .tittle {
        margin-bottom: -1px;
        font-size: 30pt;
        color: dimgray;
        font-family: 'Roboto';
    }

    .field {
        color: white;
    }

    .lbl {
        color: white;
    }

</style>

<div id="head">

    <div class="ui container" ng-app="personaModule">

        <div class="ui text container" style="margin-top: 2em;" ng-controller="personasController" >
            <div class="ui form" style="width: 100%">

                <h1 class="tittle">Registro</h1>

                <hr/>
                <p>&nbsp;</p>


                <div class="field">
                    <div class="three fields">
                        <div class="field">
                            <input ng-model="nombre" style="margin-right: 1em;" type="text" placeholder="NOMBRE">
                        </div>
                        <div class="field">
                            <input ng-model="apellido" style="margin-right: 1em;" type="text" placeholder="APELLIDO">
                        </div>
                        <div class="field">
                            <input ng-model="edad" style="margin-right: 1em;" type="number" placeholder="EDAD">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <input ng-model="direccion" type="text" placeholder="DIRECCIÓN DE RESIDENCIA">
                </div>

                <div class="field">
                    <input ng-model="correo" type="email" placeholder="EMAIL">
                </div>

                <div class="field">
                    <input ng-model="telefono" type="number" placeholder="NÚMERO TELEFÓNICO">
                </div>

                <p>&nbsp;</p>
                <div class="field">
                    <div class="ui checkbox">
                        <input ng-model='user' type="checkbox" ng-click="soyUser()" >
                        <label style="color: dimgray; font-size: 18px">Soy Usuario</label>
                    </div>
                </div>

                <div class="field">
                    <div class="ui checkbox">
                        <input ng-model="admin" type="checkbox" ng-click="soyAdmin()">
                        <label style="color: dimgray; font-size: 18px">Soy Administrador</label>
                    </div>
                </div>

                <p>&nbsp;</p>
                <div class="inline field">
                    <a ng-click="post_persona()" class="large ui positive basic button" ui-sref="dietas">Enviar</a>
                    <a class="large ui black basic button" style="text-decoration: none; color: white" href="http://localhost:8080/s3_pear-web/src/intro.html">Cancelar</a>
                </div>

            </div>

        </div>


    </div>

</div>
