<div class="ui one column grid" style="background-color: white; width: 70%; margin: auto auto 6em auto; padding: 3em 5em; border-radius: 0.5em;" ng-app="cocinaModule" ng-controller="cocinasController">

    <div class="row">
        <div class="column">
            <div class="inline field">
                <h1 class="ui dividing header" style="font-weight: 300; color: gray;"> <i ui-sref="cocinas" class="ion-chevron-left"></i> &nbsp; Detalles Cocina</h1>
            </div>
            <hr/>
        </div>
    </div>

    
    
     
        <table class="ui very basic table">
            
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            
            <tbody>
                
              <tr>
                <td>
                    <div class="inline field" style="overflow-y: hidden;">
                        <div class="ui horizontal large label">ID</div> 
                    </div>
                </td>
                <td>
                    {{id_cocina}}
                </td>
                <td>
                    
                </td>
              </tr>
              <tr>
                <td>
                    <div class="inline field" style="overflow-y: hidden;">
                        <div class="ui horizontal large label">Nombre</div>
                    </div>
                </td>
                <td>
                    <input ng-model="new_nombre" placeholder="{{cocina.name}}">
                </td>
                <td>
                    
                </td>
              </tr>
              <tr>
                <td>
                    <div class="inline field" style="overflow-y: hidden;">
                        <div class="ui horizontal large label">Ubicacion</div>
                    </div>
                </td>
                <td>
                    <input ng-model="new_ubicacion" placeholder="{{cocina.ubicacion}}"> 
                </td>
                <td>
                    
                </td>
              </tr>
              
              <tr>
                  <td>
                      <div class="inline field" style="overflow-y: hidden;">
                          <div class="ui horizontal large label">Capacidad</div>
                      </div>
                  </td>
                <td>
                    <input ng-model="new_capacidad" placeholder="{{cocina.capacidad}}"> 
                </td>
                <td>
                    
                </td>
              </tr>
              
              <tr>
                  <td>
                      <div class="inline field" style="overflow-y: hidden;">
                          <div class="ui horizontal large label">Imagen</div>
                      </div>
                  </td>
                <td>
                    <input ng-model="new_imagen" placeholder="{{cocina.imagen}}"> 
                </td>
                <td>
                    
                </td>
              </tr>
              
         
              
            </tbody>
         
        </table>
         
     
    
    

    <div class="row">
        <div>&nbsp;</div>
        <div class="inline field">
            <a href="" ng-click="actualizar_cocina()" class="ui positive basic button">
                Actualizar
            </a>
        </div>
    </div>





</div>
