<!--
<div class="ui container" ng-if="isAuthenticated() && !hasPermissions()">

    <div class="row">
        <h1>403 Forbidden</h1>
        <h4>You do not have permission for this action.</h4>
        <p>Contact the administrator to obtain permission.</p>
    </div>

</div>
-->


<style>
    * {
        overflow: hidden;
    }

    div.back {
        height: 100vh;
        background-color: white;
    }

    div.backimg {
        height: 25vh;
        background-attachment: fixed;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>


<div class="back" ng-app="cocinaModule" ng-controller="cocinasController">
    
    
    <div class="backimg" style="background-image: url('{{dieta.imagen}}'); float: bottom;">
        
    </div>
    

    <div class="ui one column grid" style="background-color: white; width: 70%; margin: auto auto 6em auto; padding: 3em 5em; border-radius: 0.5em;">

        <div class="row">
            <div class="column">
                <div class="inline field">
                    <h1 class="ui dividing header" style="font-weight: 300; color: gray;">Actualizar {{dieta.name}}</h1>
                </div>
                <hr/>
            </div>
        </div>




        <table class="ui very basic table">


            <tbody>

                <tr>
                    <td>
                        <div class="inline field" style="overflow-y: hidden;">
                            <div class="ui horizontal large label">ID</div>
                        </div>
                    </td>
                    <td>
                        {{id_cocina}}
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="inline field" style="overflow-y: hidden;">
                            <div class="ui horizontal large label">Nombre</div>
                        </div>
                    </td>
                    <td>
                        <input ng-model="new_nombre" type='text' placeholder='{{cocina.name}}'>
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="inline field" style="overflow-y: hidden;">
                            <div class="ui horizontal large label">Ubicación</div>
                        </div>
                    </td>
                    <td>
                        <input style="border:1px solid red !important;" ng-model="new_ubicacion" type='text' placeholder='{{cocina.ubicacion}}'>
                    </td>
                    <td>

                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="inline field" style="overflow-y: hidden;">
                            <div class="ui horizontal large label">Capacidad</div>
                        </div>
                    </td>
                    <td>
                        <input ng-model="new_capacidad" type='text' placeholder='{{cocina.capacidad}}'>
                    </td>
                    <td>

                    </td>
                </tr>
                
                <tr>
                    <td>
                        <div class="inline field" style="overflow-y: hidden;">
                            <div class="ui horizontal large label">Imagen</div>
                        </div>
                    </td>
                    <td>
                        <input ng-model="new_imagen" type='text' placeholder='{{cocina.imagen}}'>
                    </td>
                    <td>

                    </td>
                </tr>

                

                <tr>
                    <td>
                        <div class="inline field" style="overflow-y: hidden;">
                            <div class="ui horizontal large label">Imagen</div>
                        </div>
                    </td>
                    <td>
                        <input ng-model="new_stars" type='text' placeholder='{{dieta.imagen}}'>
                    </td>
                    <td>

                    </td>
                </tr>

            </tbody>

        </table>





        <div class="row">
        <div>&nbsp;</div>
        <div class="inline field">
           
             <a ng-click="actualizar_cocina()" class="ui positive basic button">
                Actualizar
            </a>
            
            <a ui-sref='cocina_detail({ id: dieta.id})' class="ui negative basic button">
                Cancelar
            </a>
            
           
        </div>
    </div>




    </div>

</div>
