
<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <table class="table table-striped col-md-4">
        <tbody>
          <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" ng-repeat="semana in semanas">
                    <h1 id="{{$index}}-fecha" style="text-align:center"> {{semana.fechaLunes}}</h1>
                         <div class="col-md-3 col-md-3" ng-repeat="dia in semana.dias"> 
                            <div class="thumbnail">
                            <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5hupEeFtwom_qnf0z74e7lR8aNnCc_JQiQ8TukKL8tb0IcEM0" height="20" width="110"/>  
                            <div class="caption text-center">{{ dia.fecha }}</div>
                            <div class="caption text-center">{{ dia.recomendacion}}</div>
                        </div>
                     </div>
                   </div>
                </div>
          </div>           
        </tbody>
    </table>
</div>
