


<style>
	hr {
		display: block;
		height: 2px;
		border: 0;
		border-top: 1px solid gray;
		margin-top: -1em;
		width: 16em;
		color: black;
		margin-bottom: 1em;
	}

	table {
		border-collapse: collapse;
		width: 100%;
		margin: auto;
		color: gray;
	}

	td,
	th {
		text-align: left;
		padding: 8px;
	}

	/*tr:nth-child(even) {
		background-color: #dddddd;
	}*/

	.lista {
		margin: 4em auto 6em auto;
		width: 70%;
		padding: 2em 4em;
		background-color: white;
		border-radius: 0.3em;
	}

	.lbl {
		position: relative;
	}

	.template {
		height: 24em;
		background-color: rgba(245, 245, 245, 0.37);
		width: 90%;
		border-radius: 0.3em;
		display: grid;
		grid-template-columns: 40%, 60%;
		grid-template-rows: 10%, 90%;
		grid-template-areas: "nombre space" "imagen contenido";
	}

	/*CUENTAS DE CORBO*/

	.cuentas_general {
		padding: 1em;
		width: 45em;
		height: 25em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "cuenta factura";
	}

	.cuentas_pagar {
		grid-area: cuenta;
		padding-left: 1em;
               
	}

	.cuentas_factura {
		grid-area: factura;
		background-color: lightgray;
		padding: 1em;
		margin: 2em;
		text-align: center;
	}
        
        .medio{
            color:  #444444;
            font-size: 140%;
            font-weight: 900;
            background-color: #f7f7f7 ;
        }
        
        .medio:hover{
            color:  black;
            background-color: lightgrey ;
            font-size: 140%;
            font-weight: 900;
            
        }
        

</style>


<div class="lista">

	<h1 style="font-weight: 300; color: gray">Cuenta de cobro</h1>
	<hr/>

	<table>
		<tr>
			<th></th>
		</tr>

		<tr>
			<td >
				<div class="template">
					<div class="cuentas_general">
						<div class="cuentas_pagar">
                                                           
                                                    
                                                       <!-- {{ myArray | filter : {'id':73} }}-->
                                                       
							<h2 style="font-size: 120% ;color: #444444;">Valor a pagar</h2>
                                                       
							<h3 ng-if"cuentaActual !== undefined style="font-size: 200%; color: #d35b00">{{cuentaActual.valorAPagar}} .000 COP</h3>
                                                        <hr>
							<br>   
                                                        <h3 style="font-size: 90%;  color: #444444 ">Monto Inicial</h3>
                                                        <h3 style="font-size: 200%"> {{mostrar_inicial()}} </h3>
                                                        <h3 style="font-size: 90%;  color: #444444">Monto Final</h3>
                                                        <h3 style="font-size: 200%">{{mostrar_final()}}</h3>
                                                        
							<br>
                                                        <hr>
                                                        <br>
                                                         
							<div  class="metodo_pago">
                                                            
                                                            <h3 style="margin-left: 20%; color: #444444"> Medios de Pago </h3> 
                                                            <a ng-repeat="medioPago in medioPagoRecords" style="display: block" ui-sref = "medioPagoDetail({medioPagoId: medioPago.id})">
                                                            <div class = "medio" style= "margin: 10px; border-top: 1px solid grey;" >
                                                                    <p style="margin-left: 35%">  {{medioPago.medioPagoActual}}</p>
                                                            
                                                            </div></a>
                                                                
                                                            <div>
                                                               <input type="text" ng-model="medioPagoAgregar" >
                                                               <button style ="margin: 10px" ng-click ="post_medio()" ui-sref ="pago">Agregar medio de pago </button>
                                                               <br>
                                                                <button style ="margin: 10px" ng-click ="delete_medio()" ui-sref ="pago">Borrar medio seleccionado </button>
                                                               </div>
                                                          
                                                            
							</div>
                                                       
							<br/>
							<br/>
                                                        <a ng-click ="hacer_pago()">PAGAR</a>
						</div>
						<div class="cuentas_factura">
							<h3 style="font-size: 80%; color: black">FACTURA</h3>
                                                        
                                                        
                                                            <p>{{cuentaActual.factura.numeroFactura}}</p>
                                                            <p style="font-size: 80%; color: black">TIPO DIETA</p>
                                                            <p>{{cuentaActual.dieta.name}}<p>
                                                               
                                                                <div ng-if="cuentaActual.dieta !== null && cuentaActual.dieta !== undefined &&cuentaActual.dieta.imagen !== null && cuentaActual.dieta.imagen !== undefined ">
                                                                <img   class="img-rounded" alt ="Imagen Dieta" style = "height: 80%; width: 80%;" src="{{cuentaActual.dieta.imagen}}">
                                                                </div>
                                                             <p style="font-size: 80%; color: black">CANTIDAD PRODUCTOS</p>
                                                             <p>{{cuentaActual.factura.cantidadDeProductos}} </p>
                                                            
                                                            
							
							<div> <!-- TODO  <div ng-repeat="cuenta in cuentas | orderBy : 'id'">   -->
								<!-- ng-repeat-->
								<br/>
                                                                
                                                                
                                                                
							</div>
							
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>



</div>
