<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>


<style>
	hr {
		display: block;
		height: 2px;
		border: 0;
		border-top: 1px solid gray;
		margin-top: -1em;
		width: 16em;
		color: black;
		margin-bottom: 1em;
	}

	table {
		border-collapse: collapse;
		width: 100%;
		margin: auto;
		color: gray;
	}

	td,
	th {
		text-align: left;
		padding: 8px;
	}

	/*tr:nth-child(even) {
		background-color: #dddddd;
	}*/

	.lista {
		margin: 4em auto 6em auto;
		width: 70%;
		padding: 2em 4em;
		background-color: white;
		border-radius: 0.3em;
	}

	.lbl {
		position: relative;
	}

	.template {
		height: 24em;
		background-color: rgba(245, 245, 245, 0.37);
		width: 90%;
		border-radius: 0.3em;
		display: grid;
		grid-template-columns: 40%, 60%;
		grid-template-rows: 10%, 90%;
		grid-template-areas: "nombre space" "imagen contenido";
	}

	/*CUENTAS DE CORBO*/

	.cuentas_general {
		padding: 1em;
		width: 45em;
		height: 25em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "cuenta factura";
	}

	.cuentas_pagar {
		grid-area: cuenta;
		padding-left: 1em;
	}

	.cuentas_factura {
		grid-area: factura;
		background-color: lightgray;
		padding: 1em;
		margin: 2em;
		text-align: center;
	}

</style>


<div class="lista">

	<h1 style="font-weight: 300; color: gray">Cuenta de cobro</h1>
	<hr/>

	<table>
		<tr>
			<th></th>
		</tr>

		<tr>
			
			<td >
				<div class="template">
					<div class="cuentas_general">
						<div class="cuentas_pagar">
							<br/>
							<br/>
							<h3 style="font-size: 80%">PAGADO</h3>
							<h3 style="font-size: 200%">$ 35.000 COP</h3>
							<br/>
							<br/>
							<h3 style="font-size: 80%">VALOR PAGADO ANTES DE 22/04/2018</h3>
							<h3 style="font-size: 200%">$ 35.000 COP</h3>
							<div class="metodo_pago">
                                                            <input type="radio" name="efectivo" value="efevtivo"> Efectivo
								<input type="radio" name="tarjeta" value="tarjeta"> Tarjeta
								<input type="radio" name="baloto" value="baloto"> Baloto
							</div>
							<br/>
							<br/>
							<h3>PAGAR</h3>
						</div>
						<div class="cuentas_factura">
							<h3 style="font-size: 80%;">FACTURA</h3>
							
							<div> <!-- TODO  <div ng-repeat="cuenta in cuentas | orderBy : 'id'">   -->
								<!-- ng-repeat-->
								<br/>
								<p class="factura">16/04/18</p>
								<p class="factura">Desayuno..........................7.500</p>
								<p class="factura">Almuerzo..........................13.000</p>
								<p class="factura">Comida............................15.000</p>
							</div>
							
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>



</div>
