<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>


<style>
	hr {
		display: block;
		height: 2px;
		border: 0;
		border-top: 1px solid gray;
		margin-top: -1em;
		width: 16em;
		color: black;
		margin-bottom: 1em;
	}

	table {
		border-collapse: collapse;
		width: 100%;
		margin: auto;
		color: gray;
	}

	td,
	th {
		text-align: left;
		padding: 8px;
	}

	/*tr:nth-child(even) {
		background-color: #dddddd;
	}*/

	.lista {
		margin: 4em auto 6em auto;
		width: 70%;
		padding: 2em 4em;
		background-color: white;
		border-radius: 0.3em;
	}

	.lbl {
		position: relative;
	}

	.template {
		height: 24em;
		background-color: rgba(245, 245, 245, 0.37);
		width: 90%;
		border-radius: 0.3em;
		display: grid;
		grid-template-columns: 40%, 60%;
		grid-template-rows: 10%, 90%;
		grid-template-areas: "nombre space" "imagen contenido";
	}

	/*CUENTAS DE CORBO*/

	.cuentas_general {
		padding: 1em;
		width: 45em;
		height: 25em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "cuenta factura";
	}

	.cuentas_pagar {
		grid-area: cuenta;
		padding-left: 1em;
	}

	.cuentas_factura {
		grid-area: factura;
		background-color: lightgray;
		padding: 1em;
		margin: 2em;
		text-align: center;
	}

</style>


<div class="lista">

	<h1 style="font-weight: 300; color: gray">Cuenta de cobro</h1>
	<hr/>

	<table>
		<tr>
			<th></th>
		</tr>

		<tr>
			<td >
				<div class="template">
					<div class="cuentas_general">
						<div class="cuentas_pagar">

							<h3 style="font-size: 80%">Valor a Pagar</h3>
                                                        <div ng-repeat="cuenta in cuentaRecords">
							<h3 style="font-size: 200%; color: #2b2b2b">{{cuenta.valorAPagar}} .000 COP</h3>
							<br/>   
                                                        <h3 style="font-size: 90%">Monto Inicial</h3>
                                                        <h3 style="font-size: 200%">{{cuenta.pago.montoInicial}} .000 COP</h3>
                                                        <h3 style="font-size: 90%">Monto final</h3>
                                                        <h3 style="font-size: 200%">{{cuenta.pago.montoFinal}} .000 COP</h3>
                                                        </div>
							
                                                        
                                                        <br>
                                                         
							<div  class="metodo_pago">
                                                            <div ng-repeat="medioPago in medioPagoRecords">
                                                            <a ui-sref = "medioPagoDetail({medioPagoId: medioPago.id})"> {{medioPago.medioPagoActual}}</a>
                                                            </div>
                                                    
                                                             <div ui-view ="medioPagoDetail"></div>
                                                            
                                                            
							</div>
                                                       
							<br/>
							<br/>
                                                        <a ui-sref="dietas">PAGAR</a>
						</div>
						<div class="cuentas_factura">
							<h3 style="font-size: 80%; color: black">FACTURA</h3>
                                                        
                                                        <div ng-repeat="cuenta in cuentaRecords">
                                                            <p>{{cuenta.factura.numeroFactura}}</p>
                                                            <p style="font-size: 80%; color: black">TIPO DIETA</p>
                                                            <p>{{cuenta.dieta.name}}<p>
                                                               
                                                                <img class="img-rounded" style = "height: 80%; width: 80%;" src="{{cuenta.dieta.imagen}}">
                                                               
                                                             <p style="font-size: 80%; color: black">CANTIDAD PRODUCTOS</p>
                                                             <p>{{cuenta.factura.cantidadDeProductos}} </p>
                                                            
                                                            </div>
							
							<div> <!-- TODO  <div ng-repeat="cuenta in cuentas | orderBy : 'id'">   -->
								<!-- ng-repeat-->
								<br/>
                                                                
                                                                
                                                                
							</div>
							
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>



</div>
