
<style>
    * {box-sizing: border-box;}
    ul {list-style-type: none;}
    body {font-family: 'Roboto', sans-serif;}

    .month {
        padding: 70px 25px;
        width: 100%;
        background: gray;
        text-align: center;
    }

    .month ul {
        margin: 0;
        padding: 0;
    }

    .month ul li {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .month .prev {
        float: left;
        padding-top: 10px;
    }

    .month .next {
        float: right;
        padding-top: 10px;
    }

    .weekdays {
        margin: 0;
        padding: 10px 0;
        background-color: #ddd;
    }

    .weekdays li {
        display: inline-block;
        width: 13.6%;
        color: #666;
        text-align: center;
    }

    .days {
        padding: 10px 0;
        background: #eee;
        margin: 0;
    }

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size:12px;
        color: #777;
    }

    .days li .active {
        padding: 5px;
        background: #1abc9c;
        color: white !important
    }

    /* Add media queries for smaller screens */
    @media screen and (max-width:720px) {
        .weekdays li, .days li {width: 13.1%;}
    }

    @media screen and (max-width: 420px) {
        .weekdays li, .days li {width: 12.5%;}
        .days li .active {padding: 2px;}
    }

    @media screen and (max-width: 290px) {
        .weekdays li, .days li {width: 12.2%;}
    }
</style>


<div class="row" style="margin-top: 20px;">

    <div class="row" ng-repeat="semana in dieta.semanas" style="margin-top: 20px; overflow: show">
        <p style="font-family: 'Roboto'; font-weight: 100; font-size: 20px; margin-bottom: -1px;">{{semana.fechaLunes}}</p>
    
       <ul class="weekdays" >
            <li>Lunes</li>
            <li>Martes</li>
            <li>Miercoles</li>
            <li>Jueves</li>
            <li>Viernes</li>
            <li>Sabado</li>
            <li>Domingo</li>
        </ul> 
        
      

        <ul class="days" > <!-- poner ng-app=" nombre exacto del modulo de ENVIO " y ng-controller=""  y esto con spcoe normal ng-click="getDia_2(dia.id)" -->
            <li ng-repeat="dia in semana.dias"> {{dia.fecha}} <br> <a ng-click="getDia(dia.id)" ui-sref='dieta_specs.comidas({ id_dia: dia.id })' class="item">Comidas</a> <br ><a  ui-sref='^.envios({ id_dia: dia.id })' class="item">Envios</a></li> 
            
        </ul>


    </div>

</div>








<div class="row">
    <div>&nbsp;</div>
    <div class="inline field">

        <a ui-sref='dietas' class="ui orange basic button">
            Volver
        </a>

        <a ng-if="admin" class="ui positive basic button" style="float: right; margin: 0em 10px;">
            Agregar Semana
        </a>

    </div>
</div>