* {
    overflow-x: hidden;
}


#header_dietas {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.20)), to(rgba(0, 0, 0, 0.0))), url(resources/green.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.0)), url(resources/green.jpg);
    /*background-attachment: fixed;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 105vh;
}






