#header_dietas {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.10)), to(rgba(0, 0, 0, 0.0))), url(resources/back.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.0)), url(resources/back.jpg);
    /*background-attachment: fixed;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
}

.lbl {
    margin-left: 10em;
    margin-top: 1em;
    position: relative;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid whitesmoke;
    padding: 0;
    margin-top: -1em;
    width: 8em;
    color: black;
}



#lbl_facturas, #lbl_comentarios {
    display: none;
}



.template {
    margin-top: 3em;
    margin-bottom: 3em;
    height: 25em;
    background-color: whitesmoke;
    width: 45em;
    border-radius: 0.3em;
    position: relative;
}

.titulo_template {
    padding: 2em 2em 1em 2em;
    margin: auto;
    grid-area: nombre;
}

.imagen_template {
    width: 15em;
    height: 15em;
    background-color: red;
    margin-left: 2em;
    margin-top: 1em;
    background-image: url(resources/11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: imagen;
}

.contenido_template {
    font-size: 200%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas: 
        "comida"
        "stars"
        "comentarios";
    width: 8em;
    position: absolute;
    top: 3em;
    right: 4em;
    grid-gap: 1em;
}

#stars {
    width: 4em;
    height: 1em;
    background-image: url(resources/stars_5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: stars;
}

#comentarios {
    grid-area: comentarios;
}

#comidas {
    grid-area: comida;
}